h1{ padding-top: 280px;
color: #fff;
text-align: center;
}
      
.header-logo{
 font-size: 30px !important;
color: #e9e1e1;

 }
      
.header-color{
  background-color: #3DBFFF;
}
      
.fa-bars{
  color: #83E7FF;
}
      
.nav-link{
  color: #fcfcfc;
}

.yellow-bg{
  background-color: #FED303 !important;
}

.pink-bg{
  background: linear-gradient(#FD8070, #FD7E71, #FC7062, #FD7867, #FD7664, #FD7163, #FD6D60, #FD6D60) !important;
}

.green-bg{
  background-color: #A0DDCE !important;
}