:root{
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
}

h1{ padding-top: 280px;
color: #fff;
text-align: center;
font-family: var(--fraunces-font);
font-weight: 900;
font-size: 50px;
letter-spacing: 10px;
}
      
 
.header-color{
  background-color: #3DBFFF;
}
      
.fa-bars{
  color: #83E7FF;
}
      
.nav-link{
  color: #fcfcfc;
}

.yellow-bg{
  background-color: #FED303 !important;
}

.pink-bg{
  /* background: linear-gradient(#FD7D6D) !important; */
  background-color: #FD7D6D;
}

.green-bg{
  background-color: #A0DDCE !important;
}

.Services h3{
  font-size: 25px;
  font-weight: bold;
  font-family: var(--fraunces-font);
  font-weight: 900;
}

.Services small{
  font-size: 12px;
  font-weight: 300;
  font-family: var(--barlow-font);
}

.Services .writeup{
  color: #79787c;
}

.Services a{
  text-decoration-line: none;
  cursor: pointer;
  font-family: var(--fraunces-font);
  font-weight: 900;
}

.Services a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  
}

.graphic{
  margin-bottom: 50px;
  text-align: center;
}

.graphic h3{
  font-size: 14px;
}

.graphic small{
  font-size: 10px;
  font-weight: bold;
}

.graphic-design{
  color: hsl(167, 40%, 24%);
}

.photography{
  color: hsl(198, 62%, 26%);
}

.services-writeup a{
  font-size: 10px;
  padding-top: 10px;
  color: #050505;
}

.pink-link{
  display: block;
  text-decoration-color: #FD7F6E;
  
}

.yellow-link{
  display: block;
  text-decoration-color: #FED303;
}

.Testimonials{
  text-align: center;
}

.Testimonials h4{
  margin-bottom: 40px;
  font-family: var(--fraunces-font);
  color: #79787c;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}


.Testimonials h6{
  font-family: var(--barlow-font);
  color: #79787c;
  font-size: 8px;
  padding-bottom: 30px;
}

.Testimonials small{
  font-family: var(--barlow-font);
  color: #1e1e1f;
  font-size: 10px;
  padding: 25px 0 25px 0;
}

.Testimonials strong{
  font-family: var(--fraunces-font);
  font-weight: bold;
  font-size: 12px;
}

.Testimonials strong,
small,
h6{
  display: block;
}


.client-image{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px
}

